## **üîíÎ¨∏Ï†úÏÑ§Î™Ö**
---
* **Ï†úÏãúÎêú Ïù¥Ïª§Î®∏Ïä§ Îç∞Ïù¥ÌÑ∞Î•º ÎåÄÏÉÅÏúºÎ°ú ÏïÑÎûò Ï°∞Í±¥ÏùÑ Ìè¨Ìï®ÌïòÏó¨ ÏΩîÌò∏Ìä∏ Î∂ÑÏÑùÏùÑ ÏàòÌñâÌïòÏãúÏò§**


> **Ï†ÑÏ≤òÎ¶¨ Í∏∞Ï§Ä**

```
(1) 'CustomerID'Í∞Ä ÏóÜÎäî rowÎäî Ï†úÍ±∞
(2) Ï§ëÎ≥µÎêòÎäî rowÎäî Ï†úÍ±∞ (‚Äª rowÏùò Î™®Îì† columnÏù¥ Ï§ëÎ≥µÎêòÎäî Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞)
(3) 'Quantity' Î∞è 'UnitPrice'Í∞Ä 0 Ï¥àÍ≥ºÏù∏ rowÎßå Î∂ÑÏÑù
(4) ÏΩîÌò∏Ìä∏(Cohort) Í∑∏Î£πÏùÄ 'CustomerID' Í∏∞Ï§ÄÏúºÎ°ú Ï≤´ Íµ¨Îß§Ìïú Îã¨Ïùò 1ÏùºÎ°ú Ï†ïÏùò
```  


> **ÏòàÏÉÅ Output**

```
(1) ÏΩîÌò∏Ìä∏(Cohort) Í∑∏Î£π Î∞è Î∂ÑÏÑùÍ∏∞Í∞ÑÏùÄ 2010-12ÏõîÎ∂ÄÌÑ∞ ~ 2011~12ÏõîÍπåÏßÄ Î∂ÑÏÑù
(2) ColumnÎ™ÖÏùÄ ÏïÑÎûò Ï†úÏãúÎêú 'CohortIndex'ÏôÄ 'CohortMonth'Î•º ÏÇ¨Ïö©
(3) CohortIndex : Ïú†ÏûÖÌï† Îã¨(Month)Î°ú Î∂ÄÌÑ∞ ÏßÄÎÇú Í∞úÏõî Ïàò (‚Äª0 Ïù¥ ÏïÑÎãå 1Î∂ÄÌÑ∞ ÏãúÏûë)
(4) ÏΩîÌò∏Ìä∏(Cohort) Í∑∏Î£πÎ≥Ñ UniqueÌïú Í≥†Í∞ù ÏàòÎ•º Ïπ¥Ïö¥ÌåÖÌïòÍ≥†, ÏµúÏ¢Ö Í≤∞Í≥ºÎ¨ºÏùÄ %Î°ú ÌëúÌòÑ
(5) %Îäî ÏÜåÏàò Ï≤´Ïß∏ ÏûêÎ¶¨ÍπåÏßÄ Ï∂úÎ†•, ÎëòÏß∏ ÏûêÎ¶¨ÏóêÏÑú Î∞òÏò¨Î¶º ex) 33.4%
(6) CohortIndexÏóê Îî∞Î•∏ Ïú†ÏûÖ Í≥†Í∞ùÏù¥ ÏóÜÎäî ÏΩîÌò∏Ìä∏(Cohort) Í∑∏Î£πÏùò Í≤ΩÏö∞ NaN, Null Í∞í Í∑∏ÎåÄÎ°ú ÌëúÌòÑ
```  



|CohortIndex|1|2|3|4|5|6|7|8|9|10|11|12|13|
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|CohortMonth||||||||||||||
|2010-12-01|100.0|50.2|46.2|55.4|36.2|32.1|23.1|22.1|25.1|24.1|22.6|22.7|22.1|
|2011-01-01|100.0|34.5|22.1|25.4|33.2|21.3|22.1|22.4|20.1|18.0|19.0|15.2|NaN|
|...|...|...|...|...|...|...|...|...|...|...|...|...|...|

*‚Äª ÏÉÅÏúÑ Ïà´ÏûêÎäî ÏûÑÏùòÏùò Ïà´Ïûê, ColumnÎ™Ö Î∞è Ï∂úÎ†• Í∞í ÌòïÌÉúÎäî ÎèôÏùº

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd
df = pd.read_csv('eda1_df.csv', encoding='ISO-8859-1')

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [23]:
# CustomerIDÍ∞Ä ÏóÜÎäî row Ï†úÍ±∞.
#df_clean = df['CustomerID'].dropna() -> ÏãúÎ¶¨Ï¶à ÌòïÌÉúÎ°ú Î∞òÌôòÌïòÎØÄÎ°ú subsetÏúºÎ°ú Ìï¥Îãπ Ïó¥Í∏∞Ï§ÄÏúºÎ°ú dropÌï¥Ï§òÏïºÌïúÎã§.
df_clean = df.dropna(subset = ['CustomerID'], how= "all") #Ïó¥ ÌïòÎÇòÎßå Ïù∏Îç±Ïã±Ìï¥ÏÑú ÎΩëÏúºÎ©¥ ÏãúÎ¶¨Ï¶àÎ°ú Î∞òÌôòÌïòÎãàÍπå subset ÏïàÎ®πÌûò.
df_clean.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [24]:
#Ï§ëÎ≥µÎç∞Ïù¥ÌÑ∞ ÌôïÏù∏. duplicated
df_clean.duplicated().sum()

np.int64(5225)

In [26]:
#Ï§ëÎ≥µÎç∞Ïù¥ÌÑ∞ ÎÇ†Î¶¨Í∏∞. drop_duplicates
df_clean = df_clean.drop_duplicates()

In [34]:
#Ï°∞Í±¥ ÌïÑÌÑ∞ÎßÅ
df_clean = df_clean[(df_clean['Quantity']>0) & (df_clean['UnitPrice']>0)]
round(df_clean.describe())

       Quantity  UnitPrice  CustomerID
count  524878.0   524878.0    392692.0
mean       11.0        4.0     15288.0
std       156.0       36.0      1714.0
min         1.0        0.0     12346.0
25%         1.0        1.0     13955.0
50%         4.0        2.0     15150.0
75%        11.0        4.0     16791.0
max     80995.0    13541.0     18287.0

In [36]:
#ÏΩîÌò∏Ìä∏ month Íµ¨ÌïòÍ∏∞
from datetime import datetime as dt
df_clean['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

def get_month(x) :
    return dt(x.year,x.month,1)

df_clean['InvoiceMonth'] = df_clean['InvoiceDate'].apply(get_month)
grouping = df_clean.groupby('CustomerID')['InvoiceMonth']

df_clean['CohortMonth'] = grouping.transform('min')
df_clean.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceMonth,CohortMonth
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,2011-12-01,2011-08-01
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2011-12-01,2011-08-01
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-01,2011-08-01
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-01,2011-08-01
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2011-12-01,2011-08-01